services:
  db:
    image: postgres:15
    container_name: bookreview-db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: bookreview
    ports:
      - "5434:5432"
    volumes:
      - pgdata:/var/lib/postgresql

  pgadmin:
    image: dpage/pgadmin4
    container_name: bookreview-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8082:80"
    depends_on:
      - db

  adminer:
    image: adminer
    restart: always
    ports:
      - 8083:8080

volumes:
  pgdata: